name: Build and Test
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java: [11, 17]

    # Job name
    name: Build and Test
    runs-on: ${{ matrix.os }}

    steps:
      # This step uses the checkout Github action: https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v4
      # This step uses the setup-java Github action: https://github.com/actions/setup-java
      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Build and Test
        run: |
          ./gradlew build

      - name: Publish to Maven Local
        run: |
          ./gradlew publishToMavenLocal

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: ${{ matrix.os }}-JDK${{ matrix.java }}-reports
          path: |
            ./build/reports/
